h1{
    color: yellow;
}
.header{
    background-color: coral;
    display:flex;
   justify-content: space-between;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
p,h2{
    text-align: center ;
}